@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set the default background color and dotted background */
  background-color: white; /* Original background color */
  background-image: radial-gradient(circle, #fff 1px, transparent 1px);
  background-size: 20px 20px;
  height: 100vh;
}

html.dark body {
  /* Dark mode background with dotted pattern */
  background-color: #000000; /* slate-900 */
  color: white;
  background-image: radial-gradient(circle, #0000 1px, transparent 1px);
  background-size: 20px 20px;
  height: 100vh;
}


