@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set the default background color and dotted background */
  background-color: white; /* Original background color */
  color: white;

  height: 100vh;
}

html.dark body {
  /* Dark mode background with dotted pattern */
  background-color: black;
  color: white;

  height: 100vh;
}




.tracking-custom {
  letter-spacing: 0.2em;
}

.underline-hover {
  background: 
      linear-gradient(currentColor 0 0) 
      var(--p, 100%) 100% /var(--d, 0) 1px 
      no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}
.underline-hover:hover {
  --d: 100%;
  --p: 0%;
}

.basic-3 {
  background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 0) 1px 
      no-repeat;
  transition:0.5s;
}
.basic-3:hover {
  --d: 100%;
}

@media (min-width: 932px) {
  .cst\:flex {
      display: flex;
  }
}

@media (min-width: 932px) {
  .cst\:hidden {
      display: none;
  }
}

/* styles.css or your CSS module */
.map-container {
  width: 90%; /* Default for mobile */
}

@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  .map-container {
    width: 99%; /* Width for desktop */
  }
}

.buyButton {
  position: relative;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.1em;
  border: 2px solid transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}



.buyButton::before {
  content: '';
  position: absolute;
  inset: 0 8px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.buyButton::after {
  content: '';
  position: absolute;
  inset: 8px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.buyButton:hover::before,
.buyButton:hover::after {
    inset: 0px;
}


.watchButton {
  position: relative;
  padding: 15px 30px;
  color: #000;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.1em;
  border: 2px solid transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}



.watchButton::before {
  content: '';
  position: absolute;
  inset: 0 8px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.watchButton::after {
  content: '';
  position: absolute;
  inset: 8px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.watchButton:hover::before,
.watchButton:hover::after {
    inset: 0px;
}